@charset "utf-8";

/* CSS Document */

.tac {text-align:center !important;}
.tal {text-align:left !important;}
.tar {text-align:right !important;}

.pd0 {padding:0 !important;}
.pdt0 {padding-top:0 !important;}
.pdb0 {padding-bottom:0 !important;}
.pdl0 {padding-left:0 !important;}
.pdr0 {padding-right:0 !important;}

.mg0 {margin:0 !important;}
.mgt0 {margin-top:0 !important;}
.mgb0 {margin-bottom:0 !important;}
.mgl0 {margin-left:0 !important;}
.mgr0 {margin-right:0 !important;}

.bdn {border:none !important;}
.bdtn {border-top:none !important;}
.bdbn {border-bottom:none !important;}
.bdln {border-left:none !important;}
.bdrn {border-right:none !important;}

.bgn {background:none !important;}























